In [1]:
import numpy as np
import pandas as pd

In [2]:
master = pd.read_csv('master.csv')
master

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [3]:
whr = pd.read_csv('world-happiness-report.csv')

In [4]:
whr = whr.dropna()
whr

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268
...,...,...,...,...,...,...,...,...,...,...,...
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212
1947,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235
1948,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346

In [5]:
df = pd.merge(master,whr,left_on=['country','year'],right_on=['Country name','year'])

In [6]:
df

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),...,Country name,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Albania,2007,male,75+ years,8,42366,18.88,Albania2007,NaN,"10,701,011,897",...,Albania,4.634,9.142,0.821,65.8,0.529,-0.009,0.875,0.553,0.246
1,Albania,2007,male,35-54 years,29,378626,7.66,Albania2007,NaN,"10,701,011,897",...,Albania,4.634,9.142,0.821,65.8,0.529,-0.009,0.875,0.553,0.246
2,Albania,2007,male,55-74 years,14,224160,6.25,Albania2007,NaN,"10,701,011,897",...,Albania,4.634,9.142,0.821,65.8,0.529,-0.009,0.875,0.553,0.246
3,Albania,2007,female,75+ years,3,57404,5.23,Albania2007,NaN,"10,701,011,897",...,Albania,4.634,9.142,0.821,65.8,0.529,-0.009,0.875,0.553,0.246
4,Albania,2007,male,25-34 years,9,172494,5.22,Albania2007,NaN,"10,701,011,897",...,Albania,4.634,9.142,0.821,65.8,0.529,-0.009,0.875,0.553,0.246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6531,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",...,Uzbekistan,6.049,8.659,0.952,64.0,0.954,0.061,0.536,0.805,0.106
6532,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",...,Uzbekistan,6.049,8.659,0.952,64.0,0.954,0.061,0.536,0.805,0.106
6533,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",...,Uzbekistan,6.049,8.659,0.952,64.0,0.954,0.061,0.536,0.805,0.106
6534,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",...,Uzbekistan,6.049,8.659,0.952,64.0,0.954,0.061,0.536,0.805,0.106
6535,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",...,Uzbekistan,6.049,8.659,0.952,64.0,0.954,0.061,0.536,0.805,0.106

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6536 entries, 0 to 6535
Data columns (total 22 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   country                           6536 non-null   object
 1   year                              6536 non-null   int64
 2   sex                               6536 non-null   object
 3   age                               6536 non-null   object
 4   suicides_no                       6536 non-null   int64
 5   population                        6536 non-null   int64
 6   suicides/100k pop                 6536 non-null   float64
 7   country-year                      6536 non-null   object
 8   HDI for year                      3612 non-null   float64
 9    gdp_for_year ($)                 6536 non-null   object
 10  gdp_per_capita ($)                6536 non-null   int64
 11  generation                        6536 non-null   object
 12  Country name                      6536 non-null   object
 13  Life Ladder                       6536 non-null   float64
 14  Log GDP per capita                6536 non-null   float64
 15  Social support                    6536 non-null   float64
 16  Healthy life expectancy at birth  6536 non-null   float64
 17  Freedom to make life choices      6536 non-null   float64
 18  Generosity                        6536 non-null   float64
 19  Perceptions of corruption         6536 non-null   float64
 20  Positive affect                   6536 non-null   float64
 21  Negative affect                   6536 non-null   float64
dtypes: float64(11), int64(4), object(7)
memory usage: 1.1+ MB

In [8]:
df=df.drop(df.columns[[0,1,4,5,7,8,9,10,11,12,20,21]], axis=1)

In [9]:
df

,sex,age,suicides/100k pop,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
0,male,75+ years,18.88,4.634,9.142,0.821,65.8,0.529,-0.009,0.875
1,male,35-54 years,7.66,4.634,9.142,0.821,65.8,0.529,-0.009,0.875
2,male,55-74 years,6.25,4.634,9.142,0.821,65.8,0.529,-0.009,0.875
3,female,75+ years,5.23,4.634,9.142,0.821,65.8,0.529,-0.009,0.875
4,male,25-34 years,5.22,4.634,9.142,0.821,65.8,0.529,-0.009,0.875
...,...,...,...,...,...,...,...,...,...,...
6531,female,35-54 years,2.96,6.049,8.659,0.952,64.0,0.954,0.061,0.536
6532,female,75+ years,2.58,6.049,8.659,0.952,64.0,0.954,0.061,0.536
6533,male,5-14 years,2.17,6.049,8.659,0.952,64.0,0.954,0.061,0.536
6534,female,5-14 years,1.67,6.049,8.659,0.952,64.0,0.954,0.061,0.536
6535,female,55-74 years,1.46,6.049,8.659,0.952,64.0,0.954,0.061,0.536

In [10]:
df = pd.get_dummies(df, columns=['sex','age'])

In [11]:
df.to_csv('clean_data.csv',index=False)